
<%= link_to "New Post", 'post/new' %>


<div class = "poster">
	<%= form_for (@new_post) do |f| %>
		<div><%= f.text_field :author, placeholder: "Author" %></div>
		<div><%= f.text_area :content, rows: 5, placeholder: "Enter Post", :class => 'main-content'  %></div>
		<div>
			<%= f.submit "Enter Post", :class => 'button' %>
		</div>
	<% end %>
</div>


<% @all_posts.each do |p| %>
	<div class = "post">
		<div class = "heading">
			<%= p.id %>. <%= p.author %>
		</div>
		
		<div class = "content">
			<%= p.content %>
		</div>
		

		<div class = "date">
			Posted at: <%= p.created_at %>
		</div>

	</div>	
<% end %>





