
<div>
	<%= form_for (@post) do |f| %>
		<p><%= f.label :post %></p>
		<p><%= f.text_field :author, placeholder: "Author" %></p>
		<p><%= f.text_area :content, rows: 5, placeholder: "Enter Post"  %></p>
		<p>
			<%= f.submit "Enter Post" %>
		</p>
	<% end %>
</div>
